body {
    color:black;
    background:aqua;
    margin: 0px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
 }

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

 .chamada {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto {
    margin-right: 5%;
 }

 h1 {
   font-size: 40px;
 }

 p {
   font-size: 20px;
 }
 
 ing {
   height: 100px;
 }

 .categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
   padding: 10px;
 }

 .categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
 }

 .categoria-videos img {
   opacity: 0.5;
   height: 150px;
 }

 .categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid white;
 }
 .categoria h2 {
   color: rgb(50, 205, 50);
 }
 
 .categoria-videos::-webkit-scrollbar{
   height: 10px;
   border-radius: 10px; 
 }

 .categoria-videos::-webkit-scrollbar-track {
   background: rgb(152, 251, 152); 
   border-radius: 10px;
 }

 .categoria-videos::-webkit-scrollbar-thumb {
   background: rgb(255, 222, 173);
   border-radius: 10px; 
   border: 2px solid rgb(221, 160, 221)
 }